<style>
    nav {
        width: 200px;
        background-color: red;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        padding: 10px;
    }

    li a {
        text-decoration: none;
        color: #000;
    }

    li a:hover {
        color: #ff0000;
    }
</style>
